@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #E2A241;
  --secondary: #66371C;
  --whitebg: #FFFFF9;
  --textb: #302B28;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-prompt), Arial, Helvetica, sans-serif;
}
